
{% extends "admin/admin.html.twig" %}

{% block title %}Gestion des administrateurs{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">

        <!-- Boutton premier modal create-->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal" id="newadmin">
            <i class="fas fa-plus"></i>Créer un utilisateur
        </button>
        <!-- /Button premier modal create -->

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody id="affiche-admins">
                {% for admin in admins %}
                    <tr>
                        <th scope="row">
                            {{admin.username}}
                        </th>
                        <td>
                            <a href={{ path ('edit_admin', {id: admin.username})}} type="button" class="btn btn-warning"><i class="fas fa-cog"></i></a>
                        </td>
                        <td>
                            <!-- Boutton modal delete-->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete{{admin.username}}"><i class="fas fa-trash-alt"></i></button>
                            <!-- /Boutton modal delete-->
                            <!-- modal delete-->
                            <div id="modal-delete{{admin.username}}">
                                <div class="modal fade" id="confirmDelete{{admin.username}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    <strong>Voulez vous vraiment supprimer l'administrateur' ?</strong>
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                    <form id="delete{{admin.username}}" method="post" action={{ path ('delete_admin', {id: admin.username})}}>
                                                        <div class="modal-body">
                                                            <h5>Identifiant : {{admin.username}}</h5>
                                                            <br>
                                                            <h5><strong>Cette action est irréversible</strong></h5>
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value={{ csrf_token ('delete')}}>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-danger">Oui, Supprimer</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non, conserver</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /modal delete-->
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(admins) }}
        </div>
    </div>

    <!-- First modal dialog create-->
    <div class="modal fade" id="modal" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="modalLabel">Entrez un identifiant</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action={{ path ('create_admin')}} method="post">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">@</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="username">
                        </div>
                        <input type="hidden" id="_token" value={{ csrf_token ('createAdmin')}}>
                    </div>
                    <div class="modal-footer">
                        <!-- envoi requete-->
                        <button id="submit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Second modal create -->
    <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="modalLabel2">Nouvel administrateur ajouté</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="ajax-modal"></div>

                </div>
                <div class="modal-footer">
                    <!-- close second create -->
                    <button onClick="window.location.reload();" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal2"><i class="fas fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>
    {{ encore_entry_script_tags('js/addAdmin') }}
    

{% endblock %}

{% block javascripts %}

{% endblock %}


