
{% extends "admin/admin.html.twig" %}

{% block title %}Gestion des témoignages{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">

        <!-- creer témoignage-->
        <a class="btn btn-outline-primary" href={{ path ('create_temoignage')}}>
            <i class="fas fa-plus"></i>Créer un témoignage
        </a>
        <!-- /creer témoignage-->

        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Témoin</th>
                <th scope="col">Métier du témoin</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
                </tr>
            </thead>
            <tbody id="affiche-admins">
                {% for temoignage in temoignages %}
                    <tr>
                        <th scope="row">
                            {{temoignage.temoin}}
                        </th>
                        <th>
                            {{temoignage.metierTemoin}}
                        </th>
                        <td>
                            <a href={{ path ('edit_temoignage', {id: temoignage.id})}} type="button" class="btn btn-warning"><i class="fas fa-cog"></i></a>
                        </td>
                        <td>
                            <!-- Boutton modal delete-->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDelete{{temoignage.id}}"><i class="fas fa-trash-alt"></i></button>
                            <!-- /Boutton modal delete-->
                            <!-- modal delete-->
                            <div id="modal-delete{{temoignage.id}}">
                                <div class="modal fade" id="confirmDelete{{temoignage.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">
                                                    <strong>Voulez vous vraiment supprimer l'témoignage' ?</strong>
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                    <form id="delete{{temoignage.id}}" method="post" action={{ path ('delete_temoignage', {id: temoignage.id})}}>
                                                        <div class="modal-body">
                                                            <h5>Identifiant : {{temoignage.id}}</h5>
                                                            <br>
                                                            <h5>Nom de l'témoignage : {{temoignage.temoin}}</h5>
                                                            <br>
                                                            <h5><strong>Cette action est irréversible</strong></h5>
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token" value={{ csrf_token ('delete')}}>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-danger">Oui, Supprimer</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non, conserver</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /modal delete-->
                        </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(temoignages) }}
        </div>
    </div>
    

{% endblock %}

{% block javascripts %}

{% endblock %}
