{% extends "base.html.twig" %}


{% block title %}À propos{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/about') }}
    {{ encore_entry_link_tags('scss/schemaTooltip') }}
{% endblock %}

{% block body %}
    <h1>Qui sommes-nous ?</h1>
    <h2>Notre histoire</h2>
    <p class="TwoColumnsText"><a href="/" target="_blank" rel="noopener noreferrer">Mon-cordon-precieux.fr</a> est un site destiné à vous informer sur le don de sang placentaire (également appelé don de sang de cordon) pour un usage scientifique.
    <br><br>
    Lymphobank est une société de biotechnologie française créée à Besançon en 2017 par Éric Robinet, ancien chercheur de l'Etablissement Français du Sang Bourgogne/Franche-Comté (EFS-BFC) dans le but de développer un traitement innovant du cancer du foie. Afin de financer ce projet de recherche, Lymphobank mène en parallèle une activité industrielle visant à fournir des produits issus du sang de donneurs de sang adultes ou de sang de cordon à des laboratoires de recherche.
    </p>
    <h2>Notre mission</h2>
    <p class="TwoColumnsText">‘’Accompagner la recherche, c’est accompagner la vie’’ : tel est notre credo. Nous souhaitons être un partenaire de référence dans la réalisation des projets de recherche de nos clients en leur faisant gagner du temps et de la sérénité pour l’obtention de produits fiables issus du sang.</p>
    <h2>Nos valeurs</h2>
    <p>Bien qu’étant une société privée, nos valeurs sont basées sur les valeurs du don du sang en France :</p>
    <div class="cadre">
        <h2 class="titleGeant">Donner son sang de cordon, c'est GÉANT !</h2>
        <div class="schemaGeant">
            <div class="geantLetter">
                <h2><div class="underline">G</div>ratuit</h2>
                <div class="tooltipGeant">
                    <img class="icon" src={{ asset ('img/icons/pregnant.png')}}>
                    <span class="tooltipGeantText">Le don ne donne lieu à aucun dédommagement ni rémunération mais aucun coût n’est facturé à la maman 
                    </span>
                </div>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="geantLetter">
                <h2><div class="underline">E</div>thique</h2>
                <div class="tooltipGeant">
                    <img class="icon" src={{ asset ('img/icons/hospital.png')}}>
                    <span class="tooltipGeantText">Les prélèvements sont réalisés sous couvert d’une autorisation préalable, délivrée par le Ministère de l’Enseignement Supérieur et de la Recherche
                    </span>
                </div>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="geantLetter">
                <h2><div class="underline">A</div>nonyme</h2>
                <div class="tooltipGeant">
                    <img class="icon" src={{ asset ('img/icons/EFSlogo.png')}}>
                    <span class="tooltipGeantText">Chaque don est anonymisé par l’EFS-BFC avant d’être transmis à Lymphobank, qui n’a accès à aucune donnée personnelle
                    </span>
                </div>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="geantLetter">
                <h2><div class="underline">N</div>on-profit </h2>
                <div class="tooltipGeant">
                    <img id="goutte" class="icon" src={{ asset ('img/icons/LymphobankGoutte.png')}}>
                    <span class="tooltipGeantText">Les bénéfices réalisés par Lymphobank ne peuvent en aucun cas être redistribués au Président de la société, ni à d’éventuels associés ou investisseurs
                    </span>
                </div>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="geantLetter">
                <h2><div class="underline">T</div>ransparent</h2>
                <div class="tooltipGeant">
                    <img class="icon" src={{ asset ('img/icons/biology.png')}}>
                    <span class="tooltipGeantText">Un Comité de Surveillance indépendant vérifie le respect par Lymphobank de ses engagements éthiques et financiers
                    </span>
                </div>
            </div>
        </div>
    </div>
    <p>Les résultats de notre activité industrielle sont totalement réinvestis dans notre activité de Recherche et Développement, qui a vocation à développer une activité innovante <span class="tooltip">d'immunothérapie <span class="tooltipText"> utilisation de cellules immunitaires comme médicament pour stimuler les défenses de l'organisme contre le cancer</span></span> <span class="tooltip">du cancer.<span class="tooltipText"> utilisation de cellules immunitaires comme médicament pour stimuler les défenses de l'organisme contre le cancer</span></span></p>
    <h2>Nos engagements</h2>
    <p class="TwoColumnsText">Soyons clairs : les donneurs et les donneuses donnent leur sang, adulte ou placentaire, pour sauver des vies ou pour faire avancer la recherche. Ils ne donnent pas pour qu’une société privée gagne de l’argent ‘’sur leur dos’’.
    <br><br>
    Notre engagement de non-profit personnel signifie que les bénéfices réalisés par la société, au travers de son activité industrielle liée au don du sang, sont intégralement réutilisés pour le financement du projet de recherche qu’elle mène en collaboration avec l’EFS-BFC : aucun dividende n’est reversé au Président, fondateur de la société, ni à d’éventuels associés ou futurs investisseurs.
    <br><br>
    Les bilans comptables de la société sont transmis chaque année à un Comité de Surveillance indépendant qui peut ainsi vérifier le respect par Lymphobank de ses engagements éthiques et financiers.</p>
    <h2>Notre équipe est composée 5 personnes expérimentées : </h2>
    <img class="photo" src={{ asset ('img/equipe.JPG')}}>
    <ul class="equipe">
        <li><strong>Marine DANGEVILLE :</strong> Responsable de production</li>
        <li><strong>Lucie LAURENT </strong>: Technicienne de production en Biotechnologie</li>
        <li><strong>Mathieu GONCALVES :</strong> Responsable Recherche & Développement</li>
        <li><strong>Eric ROBINET :</strong> Direction</li>
        <li><strong>Satya LEFRANC :</strong> Technicienne de production en Biotechnologie</li>
    </ul>
    <h2>Domaine d’applications (principaux secteurs d’activités) :</h2>
    <div class="valeurs">
        <div class="card">
            <div class="card-title"><h2>Voici les différents secteurs d’applications dans lesquels vont être utilisés vos dons :</h2></div>
            <div class="contentCard">
                <ul class="TwoColumnsText">
                    <li>Immunologie et hématologie</li>
                    <li>Vaccins et maladies infectieuses</li>
                    <li>Oncologie</li>
                    <li>Immunothérapies et thérapies cellulaires</li>
                    <li>Diabète</li>
                    <li>Hépato-digestif</li>
                    <li>Cardio-vasculaire</li>
                    <li>Maladies rares</li>
                    <li>Dermatologie</li>
                    <li>Neurosciences</li>
                    <li>Pneumologie</li>
                    <li>Pharmacologie</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}

