{% extends "base.html.twig" %}


{% block title %}Qu'est ce que le don ?{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/cestQuoi') }}
{% endblock %}

{% block body %}
    <h1>Qu'est-ce que le don de sang de cordon ?</h1>
    <p class="pageTitle TwoColumnsText">Le sang de cordon provient du placenta (d’où l’appellation également rencontrée de « sang placentaire »), il s’agit du sang se trouvant dans le cordon ombilical. Ce sang est particulièrement riche en <span class="tooltip">cellules <span class="tooltipText">Les cellules souches hématopoïétiques sont à l’origine de la production de cellules sanguines : <br><br>
    -  Globules rouges : ils transportent l’oxygène des poumons vers les tissus et récupèrent le gaz carbonique afin de l’évacuer lors de l’expiration
    <br><br>
    -  Globules blancs : ils assurent la défense du corps contre les virus et les bactéries
    <br><br> 
    - Plaquettes : elles aident le sang à coaguler</span></span> <span class="tooltip">souches <span class="tooltipText">Les cellules souches hématopoïétiques sont à l’origine de la production de cellules sanguines : <br><br>
    -  Globules rouges : ils transportent l’oxygène des poumons vers les tissus et récupèrent le gaz carbonique afin de l’évacuer lors de l’expiration
    <br><br>
    -  Globules blancs : ils assurent la défense du corps contre les virus et les bactéries
    <br><br> 
    - Plaquettes : elles aident le sang à coaguler</span></span> <span class="tooltip">hématopoïétiques <span class="tooltipText">Les cellules souches hématopoïétiques sont à l’origine de la production de cellules sanguines : <br><br>
    -  Globules rouges : ils transportent l’oxygène des poumons vers les tissus et récupèrent le gaz carbonique afin de l’évacuer lors de l’expiration
    <br><br>
    -  Globules blancs : ils assurent la défense du corps contre les virus et les bactéries
    <br><br> 
    - Plaquettes : elles aident le sang à coaguler</span></span>. C’est la raison pour laquelle il peut être utilisé pour soigner des patients atteints de diverses maladies du sang.
    <br>
    Le sang présent dans le cordon ombilical est prélevé par ponction dans la veine ombilicale lorsque l’accouchement est terminé, c’est-à-dire après que le cordon ombilical ait été coupé. 
    Le don de sang placentaire est un <span class="underline">acte indolore, gratuit, anonyme et volontaire</span>.  Il existe deux types de dons: pour un usage scientifique ou pour un usage thérapeutique.
    </p>
    <h2>Le don de sang de cordon à usage scientifique</h2>
    <div class="illustrated"><img class="illustrationLeft" src={{ asset ('img/scientifique.jpeg')}}><p class="TwoColumnsText">Les maternités partenaires de Lymphobank proposent de prélever le sang de cordon pour un usage scientifique : les besoins de la recherche biomédicale en sang placentaire sont en effet en constante augmentation. Les modalités de don de sang de cordon pour un usage scientifique sont plus simples que pour un don à visée thérapeutique.
    <br>
    Donner son sang de cordon, c’est aider la recherche !
    </p></div>
    <div class="cardsHosto">
        <div class="card">
            <div class="card-pic">
                <img src={{ asset ('img/icons/laboratory.svg')}}>
            </div>
            <div class="card-title"><h2>Prélèvement à usage scientifique </h2></div>
            <button class="btnCard"><p>En savoir plus</p></button>
            <div class="panelCard">
                <div class="schemaCard">
                    <img class="icon" src={{ asset ('img/icons/doctor.svg')}}>
                    <h2>La maman est informée sur les usages du don</h2>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <img class="icon" src={{ asset ('img/icons/contract.svg')}}>
                    <h2>La maman donne son consentement</h2>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <div class="prelevement">
                        <img class="icon" src={{ asset ('img/icons/syringe.svg')}}>
                        <img class="icon" src={{ asset ('img/icons/blood-transfusion.svg')}}>
                    </div>
                    <h2>Le jour de l'accouchement :</h2>
                    <ul class='accouchement'>
                        <li>prise de sang à la maman</li>
                        <li>recueil du sang de cordon</li>
                    </ul>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <img class="icon" src={{ asset ('img/icons/EFSlogo.png')}}>
                    <h2>Anonymisation du don par la banque de sang placentaire</h2>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <img id="logolbk" class="icon" src={{ asset ('img/icons/LogoLymphobank.png')}}>
                    <h2>Traitement de la poche par Lymphobank</h2>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <img class="icon" src={{ asset ('img/icons/blood-sample.svg')}}>
                    <h2>Stockage par Lymphobank</h2>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <img class="icon" src={{ asset ('img/icons/laboratory.svg')}}>
                    <h2>Utilisation par les laboratoires de recherche</h2>
                </div>
            </div>
        </div>
    </div>
    <h2>Le don du sang de cordon à usage thérapeutique </h2>
    <div class="illustrated"><img class="illustrationLeft" src={{ asset ('img/therapeutique.jpeg')}}><p class="TwoColumnsText">La plupart des maternités ne proposent pas de recueillir le sang de cordon : seules certaines maternités, agréées par le Ministère de la Santé, appartiennent au Réseau Français de Sang Placentaire et sont autorisées à prélever le sang de cordon pour un usage thérapeutique. Les dons de sang sont alors centralisés, traités et conservés en France au sein de quatre Banques de Sang Placentaire, dans l’attente de leur administration à un patient.
    <br>
    Cependant, il se peut que le don de sang de cordon soit non conforme pour être greffé à un patient. Il peut alors être réorienté vers un usage scientifique et servir à la recherche.
    <br><br>
    Pour en savoir plus sur le don de sang de cordon à usage thérapeutique, vous pouvez consulter le site de <a href="https://www.dondesangdecordon.fr/don.php" target="_blank" rel="noopener noreferrer">l’Agence de la Biomédecine.</a>
    </p></div>
    <div class="cardsHosto">
        <div class="card">
            <div class="card-pic">
                <img src={{ asset ('img/icons/centre-medical.png')}}>
            </div>
            <div class="card-title"><h2>Prélèvement à usage thérapeutique</h2></div>
            <button class="btnCard"><p>En savoir plus</p></button>
            <div class="panelCard">
                <div class="schemaCard">
                    <img class="icon" src={{ asset ('img/icons/event.svg')}}>
                    <h2>RDV préalable et questionnaire médical</h2>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <img class="icon" src={{ asset ('img/icons/contract.svg')}}>
                    <h2>La maman donne son consentement</h2>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <div class="prelevement">
                        <img class="icon" src={{ asset ('img/icons/syringe.svg')}}>
                        <img class="icon" src={{ asset ('img/icons/blood-transfusion.svg')}}>
                    </div>
                    <h2>Le jour de l'accouchement :</h2>
                    <ul class='accouchement'>
                        <li>prise de sang à la maman</li>
                        <li>recueil du sang de cordon</li>
                    </ul>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <img class="icon" src={{ asset ('img/icons/EFSlogo.png')}}>
                    <h2>Anonymisation et traitement de la poche par la banque de sang placentaire</h2>
                    <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                    <img class="icon" src={{ asset ('img/icons/event.svg')}}>
                    <h2>Un mois après l'accouchement: questionnaire médical</h2>
                    <div class="doubleArrow">
                        <i id="conforme" class="fas fa-long-arrow-alt-right fa-4x"></i>
                        <i id="pasConforme" class="fas fa-long-arrow-alt-right fa-4x"></i>
                    </div>
                    <div class="doubleSchema">
                        <div class="conforme">
                            <p>Don conforme</p>
                            <img class="icon" src={{ asset ('img/icons/blood-bank.svg')}}>
                            <p>Stockage par la banque de sang placentaire</p>
                            <i id="greffeArrow" class="fas fa-long-arrow-alt-right fa-4x"></i>
                        </div>
                        <div class="pasConforme">
                            <p>Don non conforme</p>
                            <img class="icon" src={{ asset ('img/icons/recycling-bin.svg')}}>
                            <p>Destruction de la poche de sang</p>
                        </div>
                    </div>
                    <div class="pasConforme">
                        <img class="icon" src={{ asset ('img/icons/hospitalisation.svg')}}>
                        <p>Greffe hématopoïétique au patient</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Que peut-on donner ?</h1>
    <h2>Il est possible de donner deux éléments :</h2>
    
    <button class="accordion"><p class="accordionTitle">Le sang de cordon</p></button>
        <div class="panel">
        <img id="poche" class="illustrationAccordeon" src={{ asset ('img/icons/blood-transfusion.svg')}}>
        <p>Après que le cordon ombilical ait été coupé, une ponction est réalisée dans la veine du cordon reliée au placenta.
        <br>
        Le sang de cordon est utilisé pour produire : 
        <ul class="prodSang TwoColumnsText">
            <li>des cellules souches <span class="tooltip">cellules <span class="tooltipText">Les cellules souches hématopoïétiques sont à l’origine de la production de cellules sanguines : <br><br><br>
            -  Globules rouges : ils transportent l’oxygène des poumons vers les tissus et récupèrent le gaz carbonique afin de l’évacuer lors de l’expiration
            <br><br><br>
            -  Globules blancs : ils assurent la défense du corps contre les virus et les bactéries
            <br><br><br>
            - Plaquettes : elles aident le sang à coaguler</span></span> <span class="tooltip">souches <span class="tooltipText">Les cellules souches hématopoïétiques sont à l’origine de la production de cellules sanguines : <br><br><br>
            -  Globules rouges : ils transportent l’oxygène des poumons vers les tissus et récupèrent le gaz carbonique afin de l’évacuer lors de l’expiration
            <br><br><br>
            -  Globules blancs : ils assurent la défense du corps contre les virus et les bactéries
            <br><br><br>
            - Plaquettes : elles aident le sang à coaguler</span></span> <span class="tooltip">hématopoïétiques <span class="tooltipText">Les cellules souches hématopoïétiques sont à l’origine de la production de cellules sanguines : <br><br><br>
            -  Globules rouges : ils transportent l’oxygène des poumons vers les tissus et récupèrent le gaz carbonique afin de l’évacuer lors de l’expiration
            <br><br><br>
            -  Globules blancs : ils assurent la défense du corps contre les virus et les bactéries
            <br><br><br>
            - Plaquettes : elles aident le sang à coaguler</span></span>. Elles servent par exemple à tester des vaccins ou des biomédicaments (médicaments d’origine biologique) pour le traitement de cancers ou de maladies auto-immunes</li>

            <li>des <span class="tooltip">cellules <span class="tooltipText">Les cellules immunitaires sont les globules blancs, ou leucocytes, qui comprennent différentes fractions (lymphocytes, monocytes, polynucléaires), elles-même subdivisées en différentes sous-populations.</span></span> <span class="tooltip">immunitaires <span class="tooltipText">Les cellules immunitaires sont les globules blancs, ou leucocytes, qui comprennent différentes fractions (lymphocytes, monocytes, polynucléaires), elles-même subdivisées en différentes sous-populations.</span></span>, sources de biomédicaments contre le cancer</li>
            <li>du <span class="tooltip">sérum<span class="tooltipText">Le sérum est le liquide dans lequel baignent les cellules sanguines (globules rouges, globules blancs, plaquettes).</span></span> placentaire, qui remplace de sérum d’origine animale, supplément indispensable dans les milieux de culture cellulaire</li>
        </ul>
        </p>
    </div>
    <button class="accordion"><p class="accordionTitle">Le cordon ombilical et/ou le placenta</p></button>
    <div class="panel">
        <img id="cordon" class="illustrationAccordeon" src={{ asset ('img/icons/cordon.svg')}}>
        <p>
        Le cordon ombilical est récupéré après avoir prélevé le sang de cordon.
        <br>
        Il permet d’isoler :
        <br><br>
        <ul class="prodCordon TwoColumnsText">
            <li>les <span class="tooltip">cellules <span class="tooltipText">Cellules issues de la moelle osseuse qui jouent un rôle dans la production de tissus squelettiques tels que le cartilage, les os et les graisses.</span></span> <span class="tooltip">souches <span class="tooltipText">Cellules issues de la moelle osseuse qui jouent un rôle dans la production de tissus squelettiques tels que le cartilage, les os et les graisses.</span></span> <span class="tooltip">mésenchymateuses<span class="tooltipText">Cellules issues de la moelle osseuse qui jouent un rôle dans la production de tissus squelettiques tels que le cartilage, les os et les graisses.</span></span>, utilisées pour le développement d’approches innovantes de   <span class="tooltip">thérapie <span class="tooltipText">Utilisation de cellules comme medicament pour la reconstruction d’organes ou des tissus lésés (tissus osseux, cartilagineux, adipeux ou musculaires, par exemple)</span></span> <span class="tooltip">cellulaire <span class="tooltipText">Utilisation de cellules comme medicament pour la reconstruction d’organes ou des tissus lésés (tissus osseux, cartilagineux, adipeux ou musculaires, par exemple)</span></span> <span class="tooltip">régénératrice. <span class="tooltipText">Utilisation de cellules comme medicament pour la reconstruction d’organes ou des tissus lésés (tissus osseux, cartilagineux, adipeux ou musculaires, par exemple)</span></span></li>
            <li>les <span class="tooltip">cellules<span class="tooltipText">Cellules qui forment les vaisseaux sanguins.</span></span> <span class="tooltip">endothéliales<span class="tooltipText">Cellules qui forment les vaisseaux sanguins.</span></span>, qui servent de modèle d’étude <span class="latin">in vitro</span> de <span class="tooltip">néoangiogénèse <span class="tooltipText">Processus de création de vaisseaux sanguins impliqués par exemple dans l’alimentation des tumeurs.</span></span>, de cicatrisation ou de remodelage du tissu osseux.</li>
            <li>Le placenta peut éventuellement être recueilli après son expulsion. Il est également une source de <span class="tooltip">cellules <span class="tooltipText">Cellules issues de la moelle osseuse qui jouent un rôle dans la production de tissus squelettiques tels que le cartilage, les os et les graisses.</span></span> <span class="tooltip">souches <span class="tooltipText">Cellules issues de la moelle osseuse qui jouent un rôle dans la production de tissus squelettiques tels que le cartilage, les os et les graisses.</span></span> <span class="tooltip">mésenchymateuses<span class="tooltipText">Cellules issues de la moelle osseuse qui jouent un rôle dans la production de tissus squelettiques tels que le cartilage, les os et les graisses.</span></span>.</li>        
        </ul>
        </p>
    </div>

    <h2>Schéma interactif :</h2>
    <div class="schemaDon">
        <div class="root">
            <img class="icon" src={{ asset ('img/icons/pregnant.png')}}>
        </div>
        <div class="firstStep">
            <div class="link firstLink"></div>
            <div class="node">
                <div class="left">
                    <div class="horizontalLink"></div>
                    <div class="link"></div>
                    <div class="item">
                        <img class="icon sangCordonBtn" src={{ asset ('img/icons/blood-transfusion.svg')}}>
                        <h2>Sang de cordon</h2>     
                    </div>
                </div>
                <div class="right">
                    <div class="horizontalLink"></div>
                    <div class="link"></div>
                    <div class="item">
                        <img class="icon cordonBtn" src={{ asset ('img/icons/cordonIncline.png')}}>   
                        <h2>Cordon ombilical</h2>  
                    </div>
                </div>
            </div>
        </div>
        <div class="sangNode">
            <div class="center">
                <div class="link"></div>
                <div class="horizontalLink"></div>
            </div>
            <div class="delta deltaSang">
                <div class="link"></div>
                <div class="horizontal">
                    <div class="horizontalLink horizontalLinkLeft"></div>
                    <div class="horizontalLink horizontalLinkRight"></div>
                </div>
            </div>
            <div class="triple tripleLink">
                <div class="link leftLink"></div>
                <div class="link middleLink"></div>
                <div class="link rightLink"></div>
            </div>
            <div class="triple tripleItem">
                <div class="item itemLeft">
                    <img class="icon" src={{ asset ('img/icons/cellule-sanguine.svg')}}>
                    <h2>Cellules souches hématopoïétiques</h2>
                    <div class="textItem"><h2>Développement de vaccins et de biothérapies</h2></div>
                </div>
                <div class="item itemMiddle">
                    <img class="icon" src={{ asset ('img/icons/serum.svg')}}>
                    <h2>Cellules immunitaires</h2>
                    <div class="textItem"><h2>Traitements innovants du cancer</h2></div>
                </div>
                <div class="item itemRight">
                    <img class="icon" src={{ asset ('img/icons/blood-transfusion.svg')}}>
                    <h2>Sérum/Plasma</h2>
                    <div class="textItem"><h2>Additifs de cultures cellulaires, remplacement de produits d'origine animale</h2></div>
                </div>
            </div>
        </div>
        <div class="cordonNode">
            <div class="center">
                <div class="link"></div>
                <div class="horizontalLink"></div>
            </div>
            <div class="delta deltaCordon">
                <div class="link"></div>
                <div class="horizontal">
                    <div class="horizontalLink horizontalLinkLeft"></div>
                    <div class="horizontalLink horizontalLinkRight"></div>
                </div>
            </div>
            <div class="double doubleLink">
                <div class="link leftLink"></div>
                <div class="link rightLink"></div>
            </div>
            <div class="double doubleItem">
                <div class="item itemLeft">
                    <img class="icon" src={{ asset ('img/icons/cellule-sanguine.svg')}}>
                    <h2>Cellules souches mésenchymateuses</h2>
                    <div class="textItem"><h2>Thérapies cellulaires / reconstructions tissulaires</h2></div>
                </div>
                <div class="item itemRight">
                    <img class="icon" src={{ asset ('img/icons/blood-cells.svg')}}>
                    <h2>Cellules endothéliales</h2>
                    <div class="textItem"><h2>Tests cellulaires in vitro</h2></div>
                </div>
            </div>
        </div>
    </div>
    <h1>Quel usage pour ce don ?</h1>
    <p>Les cellules du cordon sont précieuses pour la recherche. Elles sont utilisées :
    <ul class="listeUsage">
        <li>en recherche fondamentale pour mieux comprendre les maladies</li>
        <li>en recherche appliquée pour développer de nouveaux traitements</li>
    </ul>
    <br>
    <p>Les domaines concernés sont notamment <span class="tooltip">l’infectiologie <span class="tooltipText">Etude des infections, qu’elles soient d’origine virale, microbienne, parasitaire ou autre</span></span>, <span class="tooltip">l’immunologie <span class="tooltipText">Etude des mécanismes des défenses immunitaires de l’organisme contre des éléments reconnus comme étant dangereux pour celui-ci (infections, cancer…)</span></span>, <span class="tooltip">l’hématologie <span class="tooltipText">Etude du sang et de ses éléments</span></span>, <span class="tooltip">l’oncologie <span class="tooltipText">Etude du cancer</span></span> et de la  <span class="tooltip">thérapie <span class="tooltipText">Utilisation de cellules de l’organisme comme medicament, soit pour aider l’organisme à se défendre  (immunothérapie cellulaire) soit pour reconstruire des tissus ou organs lésés (thérapie cellulaire régénératrice)</span></span> <span class="tooltip">cellulaire <span class="tooltipText">Utilisation de cellules de l’organisme comme medicament, soit pour aider l’organisme à se défendre  (immunothérapie cellulaire) soit pour reconstruire des tissus ou organs lésés (thérapie cellulaire régénératrice)</span></span>.</p>

</p>
    <h2 id="cardsRechercheTitle">Exemples de maladies concernées </h2>
    <div class="cardRecherche">
        <div class="card">
            <div class="card-title"><h2>Pathologies adultes :</h2></div>
            <div class="contentCard">
                <ul>
                    <li>Leucémie myéloïde</li>
                    <li>Infection HIV</li>
                    <li>Cancer de l'ovaire</li>
                    <li>Cancer du sein </li>
                    <li>Mélanome</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-title"><h2>Pathologies pédiatriques :</h2></div>
            <div class="contentCard">
                <ul>
                    <li>Maladies Inflammatoires chroniques de l’Intestin (sujets jeunes / ado)</li>
                    <li>Lymphome B</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
    
{% block javascripts %}
    {{ encore_entry_script_tags('js/accordeon') }}
    {{ encore_entry_script_tags('js/btnCard') }}
    {{ encore_entry_script_tags('js/schemaDon') }}
{% endblock %}

