{% extends "base.html.twig" %}


{% block title %}Comment donner ?{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/comment') }}
{% endblock %}

{% block body %}
    <h1>Comment donner ?</h1>
    <div class="illustrated"><p class="pageTitle"><img class="illustrationLeft" src={{ asset ('img/salleDattente.PNG')}}>Pour faire un don de sang de cordon, les démarches sont simples et rapides. Si vous souhaitez vous inscrire, vous trouverez ci-joint les étapes à suivre pour réaliser ce don, ainsi que les explications relatives au prélèvement. Veuillez tenir compte des conditions indiquées pour effectuer un don.</p></div>
    <div class="bulle"><h2>Avant l’accouchement</h2></div>
    <p>Pour pouvoir donner votre sang de cordon pour un usage scientifique, voici les étapes à suivre afin de pouvoir vous inscrire dans cette démarche.</p>
    <div class="reseau">
        <div id="deroullantMaternité">
            <button class="accordion"><p class="accordionTitle">1.	Maternités partenaire de notre réseau</p></button>
            <div class="panel">
                <p>Adressez-vous à l’une des maternités partenaire de notre réseau, vous serez mise en relation avec une sage-femme qui pourra répondre à toutes vos questions et préoccupations. </p>  
            </div>
        </div>
        <a href="/Ou" target="_blank" rel="noopener noreferrer"><button id="reseau">Découvrir notre Réseau</button></a>
    </div>
    <button id="btn2" class="accordion"><p class="accordionTitle">2.	Documents fournis lors du RDV à la maternité</p></button>
    <div class="panel">
        <p>Lors de votre rendez-vous dans votre maternité, une sage-femme vous fournira une <a href="" target="_blank" rel="noopener noreferrer">lettre d’information</a>, qu’il s’agisse d’un don pour usage thérapeutique ou scientifique ; afin de vous renseigner au maximum sur ce don. 
        Le <a href="" target="_blank" rel="noopener noreferrer">formulaire de consentement</a> vous sera fourni en trois exemplaires : pour la maternité, l’EFS et vous-même. 
        </p>
    </div>
    <button class="accordion"><p class="accordionTitle">3.	Documents signés et complétés</p></button>
    <div class="panel">
        <p>Lors de votre accouchement, vous devrez apporter les trois exemplaires du formulaire de consentement, préalablement signés et complétés.  
        Dans le cas où ceux-ci seraient oubliés ou perdus de votre part, un nouveau consentement vous sera remis.
        </p>
    </div>
    <div class="bulle"><h2>Lors de l’accouchement :</h2></div>
    <div class="cardsConditions">
        <div class="card">
            <div class="card-title"><h2>Conditions pour lesquelles le prélèvement a lieu :</h2></div>
            <div class="contentCard">
                <ul>
                    <li>Le bébé n’est pas prématuré (37 semaines d’aménorrhées minimun)</li>
                    <li>Lors d’une césarienne programmée (le prélèvement aura lieu une fois le placenta ait été expulsé)</li>
                    <li>Lors d’un accouchement par voie basse (soit en attendant que le placenta soit expulsé soit lorsqu’il est déjà sorti)</li>
                    <li>Une fois que le cordon ombilical est coupé</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-title"><h2>Conditions pour lesquelles le prélèvement ne peut avoir lieu :</h2></div>
            <div class="contentCard">
                <ul>
                    <li>Les 37 semaines d’aménorrhées ne sont pas respectées (bébé prématuré)</li>
                    <li>Césarienne non programmée (en urgence)</li>
                    <li>Toutes situations considérées par l’équipe médicale pouvant présenter potentiellement un risque direct ou indirect pour la maman ou pour l’enfant.
                    Ex : l’équipe n’a pas le temps de réaliser le prélèvement à cause du nombre élevé d’accouchement le même jour)
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="textPurple"><p>Ainsi, même si l’équipe médicale détient votre consentement pour le prélèvement, c’est elle qui décide s’il doit avoir lieu ou non.</p></div>
    <h2>Les étapes du prélèvement :</h2>
    <div class="etapes">
        <div class="etape">
            <div class="iconSchema"><h2 class="nb">1.</h2><img class="icon" src={{ asset ('img/icons/bottle.svg')}}>
            <h2>Le cordon ombilical est désinfecté par une solution antiseptique</h2></div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="iconSchema"><h2 class="nb">2.</h2><img class="icon" src={{ asset ('img/icons/syringe.svg')}}>
            <h2>Une aiguille est insérée dans la veine ombilicale</h2></div>
        </div>
        <i class="fas fa-long-arrow-alt-right fa-4x between"></i>
        <div class="etape">
            <div class="iconSchema"><h2 class="nb">3.</h2><img class="icon" src={{ asset ('img/icons/blood-transfusion.svg')}}>
            <h2>Le sang est recueilli par gravité dans la poche pendant 2 à 4 minnutes</h2></div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="iconSchema"><h2 class="nb">4.</h2><img class="icon" src={{ asset ('img/icons/test-tube.svg')}}>
            <h2>Une prise de sang est effectuée sur la maman pour analyses de sang</h2></div>
        </div>
    </div>
    <div class="bulle"><h2>Après l’accouchement</h2></div>
    <p>Votre bébé et vous-même êtes pris en charge par l’équipe médicale. En ce qui concerne votre don, voici son devenir : </p>
        <div class="schemaDevenir">
            <div class="devenir">
                <img class="icon" src={{ asset ('img/icons/centre-medical.png')}}>
                <h2>Prélèvement réalisé dans la maternité</h2>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="devenir">
                <img class="icon" src={{ asset ('img/icons/delivery-truck.svg')}}>
                <h2>Transfert sous 24h à l'EFS-BFC</h2>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="devenir">
                <img class="icon" src={{ asset ('img/icons/EFSlogo.png')}}>
                <h2>Anonymisation et qualification du don</h2>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="devenir">
                <img class="icon" src={{ asset ('img/icons/test-tube.svg')}}>
                <h2>Test de conformité de la maman</h2>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="devenir">
                <img id="LogoIcon" class="icon" src={{ asset ('img/icons/LogoLymphobank.png')}}>
                <h2>Valorisation du don pour la recherche</h2>
            </div>
        </div>
    <p>Si vous souhaitez connaître le devenir de votre don, vous pouvez contacter l’EFS-BFC au 03 81 615 675 qui transmettra votre demande à Lymphobank. </p>
    
    

{% endblock %}

{% block javascripts %}{% endblock %}

