{% extends "base.html.twig" %}


{% block title %}Comment donner ?{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/comment') }}
    {{ encore_entry_link_tags('scss/schemaTooltip') }}
{% endblock %}

{% block body %}
    <h1>Comment donner ?</h1>
    <p>Voici les étapes à suivre afin de vous inscrire dans une démarche de don de sang placentaire, de cordon ombilical ou de placenta pour un usage scientifique.</p>
    <div class="bulle"><h2>Avant l’accouchement</h2></div>
    <div class="reseau">
        <div id="deroullantMaternité">
            <button class="accordion btn2"><p class="accordionTitle">1.	Maternités partenaires de notre réseau</p></button>
            <div class="panel">
                <p class="TwoColumnsText">Adressez-vous à l’une des maternités partenaire de notre réseau, vous serez mise en relation avec une sage-femme qui pourra répondre à toutes vos questions et préoccupations, à l’occasion de l’un des rendez-vous de suivi de votre grossesse.</p>  
            </div>
        </div>
        <a href="/Ou" target="_blank" rel="noopener noreferrer"><button id="reseau">Découvrir notre Réseau</button></a>
    </div>
    <button class="accordion btn2"><p class="accordionTitle">2.	Documents fournis lors du RDV <br> à la maternité</p></button>
    <div class="panel">
        <p class="TwoColumnsText">Lors d’un rendez-vous à votre maternité, votre sage-femme vous remettra une <a href="" target="_blank" rel="noopener noreferrer">lettre d’information</a>, ainsi qu’un <a href="" target="_blank" rel="noopener noreferrer">formulaire de consentement</a>, fourni en trois exemplaires et répondra à toutes vos questions.
        </p>
    </div>
    <button class="accordion"><p class="accordionTitle">3.	Documents signés et complétés</p></button>
    <div class="panel">
        <p class="TwoColumnsText">Lors de votre accouchement, vous devrez apporter les trois exemplaires du formulaire de consentement, préalablement signés et complétés.  
        Dans le cas où ceux-ci seraient oubliés ou perdus de votre part, un nouveau consentement vous sera remis.
        </p>
    </div>
    <div class="bulle"><h2>Lors de l’accouchement :</h2></div>
    <div class="cardsConditions">
        <div class="card">
            <div class="card-title"><h2>Conditions requises pour le don :</h2></div>
            <div class="contentCard">
                <ul>
                    <li>Avoir au moins 18 ans</li>
                    <li>Accouchement à 37 semaines d’aménorrhées minimum</li>
                    <li>Accouchement par voie basse</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-title"><h2>Conditions pour lesquelles le prélèvement ne peut avoir lieu :</h2></div>
            <div class="contentCard">
                <ul>
                    <li>Toute situation considérée par l’équipe médicale comme pouvant présenter potentiellement un risque direct ou indirect pour la maman ou pour l’enfant </li>
                    <li>Accouchement prématuré</li>
                    <li>Accouchement par césarienne, programmée ou non programmée (en urgence)</li> 
                </ul>
            </div>
        </div>
    </div>
    <div class="textPurple"><p>Même si vous avez donné votre consentement pour le prélèvement, l’équipe médicale décidera en dernier lieu s’il peut avoir lieu ou non.</p></div>
    <h2>Les étapes du prélèvement :</h2>
    <div class="etapes">
        <div class="etape">
            <div class="tooltipGeant">
                <div class="iconSchema"><h2 class="nb">1.</h2><img class="icon" src={{ asset ('img/icons/test-tube.svg')}}>
                <h2>Une prise de sang est effectuée sur la maman pour analyses de sang</h2></div>
                <span class="tooltipGeantText">Une prise de sang vous sera effectuée afin de que l’EFS-BFC analyse l’absence de pathogènes tels que la syphilis et les virus de l’immunodéficience humaine (VIH), de l’hépatite B (VHB), de l’hépatite C (VHC) et de la leucémie T humaine (HTLV).
                </span>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="tooltipGeant">
                <div class="iconSchema"><h2 class="nb">2.</h2><img class="icon" src={{ asset ('img/icons/bottle.svg')}}>
                <h2>Le cordon ombilical est coupé et désinfecté</h2></div>
                <span class="tooltipGeantText">Après avoir été coupé, le cordon ombilical relié au placenta est désinfecté par une solution antiseptique.
                </span>
            </div>
        </div>
        <i class="fas fa-long-arrow-alt-right fa-4x between"></i>
        <div class="etape">
            <div class="tooltipGeant">
                <div class="iconSchema"><h2 class="nb">3.</h2><img class="icon" src={{ asset ('img/icons/syringe.svg')}}>
                <h2>Prélèvement de sang dans la veine ombilicale</h2></div>
                <span class="tooltipGeantText">Une sage-femme réalise le prélèvement de sang de cordon par ponction dans la veine du cordon ombilical, pendant que le placenta est encore en place.
                </span>
            </div>
            <i class="fas fa-long-arrow-alt-right fa-4x"></i>
            <div class="tooltipGeant">
                <div class="iconSchema"><h2 class="nb">4.</h2><img class="icon" src={{ asset ('img/icons/blood-transfusion.svg')}}>
                <h2>Le sang est recueilli par gravité dans la poche pendant 2 à 4 minutes</h2></div>
                <span class="tooltipGeantText">Le prélèvement de sang de cordon se déroule dans les quelques minutes qui suivent l’accouchement et durera moins de 5 minutes. Le cordon et/ou le placenta peuvent éventuellement être recueillis pour un usage scientifique, après que le placenta ait été expulsé.
                </span>
            </div>
        </div>
    </div>
    <div class="bulle"><h2>Après l’accouchement</h2></div>
    <p>En priorité, votre bébé et vous-même êtes pris en charge par l’équipe médicale. 
    <br>
    Voici le devenir de votre don : 
    </p>
    <div class="schemaDevenir">
        <div class="devenir tooltipGeant">
            <img class="icon" src={{ asset ('img/icons/delivery-truck.svg')}}>
            <h2>Transfert sous 24h à l'EFS-BFC</h2>
            <span class="tooltipGeantText">Les dons sont livrées à l’EFS-BFC dans des caisses de transport scéllées. Le transporteur n’a donc pas accès aux données personnelles associées aux dons.
            </span>
        </div>
        <i class="fas fa-long-arrow-alt-right fa-4x"></i>
        <div class="devenir tooltipGeant">
            <img class="icon" src={{ asset ('img/icons/EFSlogo.png')}}>
            <h2>Anonymisation du don</h2>
            <span class="tooltipGeantText">L’EFS-BFC anonymise le don avant de le transférer à Lymphobank, qui n’a accès à aucune donnée personnelle.
            </span>
        </div>
        <i class="fas fa-long-arrow-alt-right fa-4x"></i>
        <div class="devenir tooltipGeant">
            <img class="icon" src={{ asset ('img/icons/test-tube.svg')}}>
            <h2>Analyse du sang de la maman</h2>
            <span class="tooltipGeantText">En cas de marqueur biologique positif, vous en êtes avertie et le don est détruit. Lymphobank vous adresse, via l’EFS-BFC, un certificat de destruction.
            </span>
        </div>
        <i class="fas fa-long-arrow-alt-right fa-4x"></i>
        <div class="devenir tooltipGeant">
            <img id="LogoIcon" class="icon" src={{ asset ('img/icons/LogoLymphobank.png')}}>
            <h2>Préparation du don pour la recherche</h2>
            <span class="tooltipGeantText">Lymphobank isole les cellules d’intérêt et les congèle en attente de leur utilisation.
            </span>
        </div>
        <i class="fas fa-long-arrow-alt-right fa-4x"></i>
        <div class="devenir tooltipGeant">
            <img class="icon" src={{ asset ('img/icons/laboratory.svg')}}>
            <h2>Cession aux laboratoires de recherche</h2>
            <span class="tooltipGeantText">Les cellules sont envoyées aux utilisateurs finaux, exclusivement pour un usage de recherche et développement dans le domaine biomédical.
            </span>
        </div>
    </div>

    

{% endblock %}

{% block javascripts %}{% endblock %}

