{% extends "base.html.twig" %}


{% block title %}F.A.Q{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/faq') }}
{% endblock %}

{% block body %}
    {% for faq in faqs %}
        <button class="accordion"><p class="accordionTitle">{{faq.ordre}}. {{faq.question}}</p></button>
        <div class="panel">
            <p class="TwoColumnsText">{{ faq.reponse|nl2br }}</p>
            {% if faq.lien %}
                <p>Plus d'information : <a href={{faq.lien}} target="_blank" rel="noopener noreferrer">{{faq.NomLien}}</a></p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/accordeon') }}
    {{ encore_entry_script_tags('js/btnFaq') }}
{% endblock %}

