{% extends "base.html.twig" %}


{% block title %}Bienvenue !{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/home') }}
    {{ encore_entry_link_tags('scss/map') }}
    {{ encore_entry_link_tags('scss/carousel') }}
    {# leaflet map #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
{% endblock %}

{% block body %}
    
    <img class="homeBanner" src={{ asset ('img/homeBanner.png')}}>
    
    <div class="content">
        <h1 class="homeTitle">Soutenez la recherche biomédicale par votre don de sang de cordon.</h1>
        <h2 class="homeText">Lymphobank est une socièté de biotechnologie qui accompagne la recherche par la cession de produits issus du cordon ombilical ou du placenta.</h2>

        <div class="cadre">
            <h2>Donner son sang de cordon, c'est GÉANT !</h2>
            <div class="schemaGeant">
                <div class="geantLetter">
                    <h2><div class="underline">G</div>ratuit</h2>
                    <div class="tooltipGeant">
                        <img class="icon" src={{ asset ('img/icons/pregnant.png')}}>
                        <span class="tooltipGeantText">Le don ne donne lieu à aucun dédommagement ni rémunération mais aucun coût n’est facturé à la maman 
                        </span>
                    </div>
                </div>
                <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                <div class="geantLetter">
                    <h2><div class="underline">E</div>thique</h2>
                    <div class="tooltipGeant">
                        <img class="icon" src={{ asset ('img/icons/hospital.png')}}>
                        <span class="tooltipGeantText">Les prélèvements sont réalisés sous couvert d’une autorisation préalable, délivrée par le Ministère de l’Enseignement Supérieur et de la Recherche
                        </span>
                    </div>
                </div>
                <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                <div class="geantLetter">
                    <h2><div class="underline">A</div>nonyme</h2>
                    <div class="tooltipGeant">
                        <img class="icon" src={{ asset ('img/icons/EFSlogo.png')}}>
                        <span class="tooltipGeantText">Chaque don est anonymisé par l’EFS-BFC avant d’être transmis à Lymphobank, qui n’a accès à aucune donnée personnelle
                        </span>
                    </div>
                </div>
                <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                <div class="geantLetter">
                    <h2><div class="underline">N</div>on-profit </h2>
                    <div class="tooltipGeant">
                        <img id="goutte" class="icon" src={{ asset ('img/icons/LymphobankGoutte.png')}}>
                        <span class="tooltipGeantText">Les bénéfices réalisés par Lymphobank ne peuvent en aucun cas être redistribués au Président de la société, ni à d’éventuels associés ou investisseurs
                        </span>
                    </div>
                </div>
                <i class="fas fa-long-arrow-alt-right fa-4x"></i>
                <div class="geantLetter">
                    <h2><div class="underline">T</div>ransparent</h2>
                    <div class="tooltipGeant">
                        <img class="icon" src={{ asset ('img/icons/biology.png')}}>
                        <span class="tooltipGeantText">Un Comité de Surveillance indépendant vérifie le respect par Lymphobank de ses engagements financiers
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <h1>Témoignages :</h1>
        
        <div class="carousel">
            <figure>
                {% for temoignage in temoignages %}
                    <div class="cadre">
                    <h2>{{temoignage.temoin}}, {{temoignage.metierTemoin}}</h2>
                    <p>{{temoignage.temoignage}}</p>
                    </div>
                {% endfor %}
            </figure>
        </div>
        
        <h1>Actualités :</h1>
        <div class="actus">
            <div class="grid-gallery">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>
            </div>
        </div>

        <h2>logo</h2>
        
        

        <h2>Réseau de maternités partenaires de Lymphobank :</h2>

        {% for etablissement in etablissements %}
            <div class="js-marker" data-lat="{{etablissement.lat}}" data-lon="{{etablissement.lon}}" data-text="{{etablissement.Nom}}"></div>
        {% endfor %}
        
        <div id="map" class="map"></div>
    </div>
    


    

    {# map #}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <script type="text/javascript" src="https://stamen-maps.a.ssl.fastly.net/js/tile.stamen.js?v1.3.0"></script>



{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/map') }}
{% endblock %}

