{% extends "base.html.twig" %}


{% block title %}Pourquoi donner ?{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('scss/pourquoi') }}
{% endblock %}

{% block body %}

    <h1>Pourquoi donner ?</h1>
    <button class="accordion"><p class="accordionTitle">1.  Sauver des vies</p></button>
    <div class="panel">
        <img class="illustrationAccordeon" src={{ asset ('img/Vie.PNG')}}><p class="columnsText">On compte environ <span class="underline">2000 personnes</span> qui, chaque année, ont besoin d’une <span class="tooltip">greffe <span class="tooltipText">La greffe de cellules souches hématopoïétiques issues du sang de cordon ombilical est une alternative à la greffe de moelle osseuse, qui permet de traiter diverses maladies du sang. Il s’agit d’une source différente de cellules souches qui présente les mêmes spécificités et est moins invasive (prélèvement indolore) que le don de moelle osseuse et qui conduit à une meilleure tolérance du receveur, réduisant ainsi le risque d’effets secondaires indésirables.</span></span> de <span class="tooltip">cellules <span class="tooltipText">Les cellules souches hématopoïétiques sont à l’origine de la production de cellules sanguines : <br><br>
        -  Globules rouges : ils transportent l’oxygène des poumons vers les tissues et récupèrent le gaz carbonique afin de l’évacuer lors de l’expiration
        <br><br>
        -  Globules blancs :ils assurent la défense du corps contre les virus et les bactéries
        <br><br> 
        - Plaquettes : elles aident le sang à coaguler</span></span> <span class="tooltip">souches <span class="tooltipText">Les cellules souches hématopoïétiques sont à l’origine de la production de cellules sanguines : <br><br>
        -  Globules rouges : ils transportent l’oxygène des poumons vers les tissues et récupèrent le gaz carbonique afin de l’évacuer lors de l’expiration
        <br><br>
        -  Globules blancs : ils assurent la défense du corps contre les virus et les bactéries
        <br><br> 
        - Plaquettes : elles aident le sang à coaguler</span></span> <span class="tooltip">hématopoïétiques <span class="tooltipText">Les cellules souches hématopoïétiques sont à l’origine de la production de cellules sanguines : <br><br>
        -  Globules rouges : ils transportent l’oxygène des poumons vers les tissues et récupèrent le gaz carbonique afin de l’évacuer lors de l’expiration
        <br><br>
        -  Globules blancs : ils assurent la défense du corps contre les virus et les bactéries
        <br><br> 
        - Plaquettes : elles aident le sang à coaguler</span></span> en France.
        <br><br>
        Faire un don de sang de cordon à usage thérapeutique, au sein des maternités du Réseau des banques de Sang Placentaire, c’est redonner de l’espoir aux personnes atteintes de maladies graves.
        <br><br>
        Pour plus d’informations sur le don de sang placentaire à usage thérapeutique : <a href="https://www.dondesangdecordon.fr/don.php" target="_blank" rel="noopener noreferrer">Agence de la biomédecine</a> 

        </p>
    </div>

    <button class="accordion"><p class="accordionTitle">2.	Aider la recherche</p></button>
    <div class="panel">
        <img class="illustrationAccordeon" src={{ asset ('img/Science.PNG')}}><p class="columnsText">
        Faire un don de sang de cordon à usage scientifique, <span class="underline">c’est aider la recherche</span>.
        <br><br>
        Le don de sang de cordon à usage scientifique mais aussi de cordon ombilical ou de placenta permet d’isoler diverses cellules qui ne peuvent pas (ou très difficilement) être prélevées sur des donneurs adultes ou qui présentent des caractéristiques uniques, différentes de celles des cellules adultes, ce qui les rend précieuses pour la recherche.
        </p>
    </div>

    <button class="accordion"><p class="accordionTitle">3.	Un acte responsable et solidaire</p></button>
    <div class="panel">
        <img class="illustrationAccordeon" src={{ asset ('img/Solidarité.PNG')}}><p class="columnsText">L’acte de donner son sang de cordon est un <span class="underline">acte citoyen, généreux, solidaire et important</span> qui peut aider de nombreux patients. Cette expérience riche s’inscrit dans une dynamique de partage tant pour la donneuse que pour les patients. </p>
    </div>

    <h1>Les principes du don de sang de cordon</h1>
    <div class="bulle">
        <h2>Un acte libre</h2>
        <p>Vous êtes libre de donner ou non votre sang de cordon.
        <br><br>
        <span class="underline">Avant la réalisation du recueil</span>, votre consentement au prélèvement vous sera demandé, par signature d’un <a href="" target="_blank" rel="noopener noreferrer">document de consentement</a>.
        <br><br>
        Vous pouvez retirer à tout moment votre consentement auprès de votre maternité, <span class="underline">sans aucune justification</span> de votre part.
        <br><br>
        <span class="underline">Après la réalisation du recueil</span>, vous pouvez demander la destruction des produits en stock conservés par Lymphobank, <span class="underline">sans aucune justification</span> de votre part. 
        <br><br>
        Pour cela, il vous suffit de vous adresser à l’Etablissement Français du Sang Bourgogne/Franche-Comté (EFS-BFC), qui transmettra votre requête à Lymphobank qui vous fournira alors, via l’EFS-BFC un certificat de destruction.
        <br><br>
        Compte tenu du processus d’anonymisation, il est inutile d’adresser votre requête directement à Lymphobank qui n’a pas accès à vos données identifiantes et ne pourra donc pas y répondre. 
        <br><br>
        Il n’est plus possible de réaliser la destruction des produits après que ceux-ci aient été cédés par Lymphobank à un laboratoire de recherche.</p><p>
        <br>
        Banque de Sang Placentaire
        <br>
        Etablissement Français du Sang Bourgogne/Franche-Comté(EFS-BFS)
        <br>
        8 rue du Docteur Jean-François-Xavier Girod
        <br>
        25000 Besançon
        <br>
        Tel : 03 81 615 675
        </p>
        <h2>Un acte anonyme</h2>
        <p>Le recueil est anonymisé par la Banque de Sang Placentaire de l’Etablissement Français du Sang Bourgogne/Franche-Comté avant d’être cédé à Lymphobank. Ainsi, Lymphobank n’a en aucun cas accès aux données identifiantes vous concernant ou concernant votre enfant.</p>
        <h2>Un acte volontaire et gratuit </h2>
        <p>Le don de sang de cordon est volontaire : aucune indemnité ni compensation n’est versée à la maman. Il est également gratuit : aucun frais lié au prélèvement du sang de cordon ou au recueil du cordon ombilical ou du placenta ne sera à la charge de la mère.</p>
        <h2>Un acte éthique</h2>
        <p>Conformément à notre <a href={{ asset ('EngagementLymphobank-2018-09-18.pdf')}} target="_blank" rel="noopener noreferrer">Charte d’engagement</a>, les bénéfices liés à la vente de produits issus de votre don seront totalement réinvestis dans le projet de recherche mené par Lymphobank et sans aucun profit personnel tel que versement de dividendes au fondateur, associés, investisseurs ou partenaires financiers de la société Lymphobank. 
        <br><br>
        Respectueux de votre don, nous exerçons notre activité en toute transparence et sous le contrôle d’un Comité de Surveillance, constitué pour partie du Directeur de l’EFS-BFC, du Président de la Fédération Fran-çaise pour le Don de Sang Bénévole, d’un représentant de votre maternité disposant tous d’un accès aux résultats comptables et financiers de la société et pour validation du respect de nos engagements.
        <br><br>
        De même, les utilisateurs finaux, à qui les éléments issus de votre don seront cédés par Lymphobank, s’engagent contractuellement à :
        <ul class="ethique">
        <li>à ne pas exporter ni recéder les produits issus d'éléments du corps humain cédés par Lymphobank à une tierce partie, que ce soit à titre gracieux ou à titre onéreux</li>
        <li>à utiliser les produits issus d'éléments du corps humain cédés par Lymphobank pour un usage de re-cherche uniquement et dans les domaines d'activités listés ci-dessus</li>
        <li>à avoir effectué les démarches réglementaires nécessaires à la réalisation de ses activités, notamment de déclaration ou d'autorisation préalable</li>
        </ul>
        </p>
    </div>
    
    

{% endblock %}

{% block javascripts %}{% endblock %}

