{% extends "admin/admin.html.twig" %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}

    <div class="container">
        <h1>Tableau de bord</h1>
        <div class="row">
            {# card établissement #}
            <div class="col-lg-3 col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-building"></i>Maternités</h5>
                        <p class="card-text">Il y a actuellement {{nbEtablissement}} maternités enregistrées</p>
                        <a href={{ path ('gestion_etablissements')}} class="btn btn-outline-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            {# /card établissement #}
            {# card témoignage #}
            <div class="col-lg-3 col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-comment-alt"></i>Temoignages</h5>
                        <p class="card-text">Il y a actuellement {{nbTemoignage}} témoignages enregistrés</p>
                        <a href={{ path ('gestion_temoignages')}} class="btn btn-outline-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            {# /card témoignage #}
            {# card actualité #}
            <div class="col-lg-3 col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="far fa-newspaper"></i>Actualités</h5>
                        <p class="card-text">Il y a actuellement {{nbActu}} actualités enregistrées</p>
                        <a href={{ path ('gestion_actus')}} class="btn btn-outline-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            {# /card actualité #}
        </div> 
    </div>

{% endblock %}

{% block javascripts %}

{% endblock %}