<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('/scss/base') }}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}?v=2" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Karla&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap" rel="stylesheet">
 
    </head>
    <body>
        <div class="grid">
            <div class="header"></div>
            <nav class="navbar">
            <div class="network">
            <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
            <a href="/" id="logo"><img src={{asset ('baby-boy.png')}}></a>
                <ul class="menuItems">
                    <li><a href={{path ('about')}}>Qui sommes nous ?</a></li>
                    <li><a href="#">Qu'est ce que le don de sang placentaire ?</a></li>
                    <li><a href="#">Pourquoi ?</a></li>
                    <li><a href={{path ('comment')}}>Comment ?</a></li>
                    <li><a href="#">Où ?</a></li>
                    <li><a href={{path ('quand')}}> Quand ?</a></li>
                    <li><a href={{path ('faq')}}>FAQ</a></li>
                </ul>
            </nav>
            
            <div class="main">
                {% block body %}{% endblock %}
            </div>
            <div class="footer"></div>
            <div class="footerContent">
                <a href={{path ('about')}}>Qui sommes nous ?</a>
                <a href="#">Mentions légales</a>
                <a href="#">Politique de confidentialité des données</a>
                <a href="#">Conditions d’utilisation</a>
                <a href="#">Nous contacter</a>
                <a href={{path ('faq')}}>F.A.Q</a>
            </div>
            
        </div>
        
        <!--fontAwesome--> 
        <script src="https://kit.fontawesome.com/695ef1a9d2.js" crossorigin="anonymous"></script>
    </body>

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</html>
